body{
    background-color: aqua;
}
button{
    cursor: pointer;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.info{
   border: 2px solid black;
   width: 25%;
   margin: auto;
   padding: 10px;
   border-radius: 50%;
   margin-top: 10px;
}